<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero/hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,141},{34,17}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{40,27}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,39},{40,31}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,37},{40,31}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{34,17}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{40,27}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,72},{40,25}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{38,23}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,122},{38,21}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{34,19}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,141},{34,17}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{34,19}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,99},{38,21}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,122},{38,21}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,99},{38,21}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,72},{40,25}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{40,27}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero/hero_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,70},{40,27}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroTexture.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539826212457a465799d2ca93c5be5de$</string>
            <key>textureFileName</key>
            <string>heroTexture.png</string>
        </dict>
    </dict>
</plist>
